.carousalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: hsl(58, 100%, 6%);
    width: 60%;
    height: 60vh;
    padding: 1rem;
    border-radius: 10px;
}

.carousalImgContainer {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.carousalImg {
    height: 90%;
    width: 90%;
    background-size: contain;
    object-fit: none;
    background-repeat: no-repeat;
    border-radius: 10px;
    
}


.carousalContent {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dateAndRate {
    display: flex;
}

.subContent p {
    width: 100%;
}
